@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap');

.header h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size:xx-large;
}

.header {
    padding: 10px;
    background-color: coral;
    border: 2px solid black;
}